<table class='table'>
    <thead>
    <tr>
        <th>Group name</th>
        <th>Event name</th>
        <th>Scheduled time</th>
        <th>Scheduling type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of scheduleInformation">
        <td>{{group.groupName}}</td>
        <td>{{group.eventName}}</td>
        <td>{{group.scheduleTime}}</td>
        <td>{{group.deputingType}}</td>
    </tr>
</table>
