﻿
<td>{{name}}</td>
<td>
    <div class="btn-group" id="status" data-toggle="buttons">
        <label class="btn btn-default btn-on btn-sm" [ngClass]="{'active': this.initState}" (click)="monitoringClick(true)">
            <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON
        </label>
        <label class="btn btn-default btn-sm btn-off" [ngClass]="{'active': !this.initState}" (click)="monitoringClick(false)">
            <input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF
        </label>
    </div>
</td>