﻿<h1>Scheduler configuration</h1>

<p *ngIf="groupsConfiguration.length === 0"><em>Loading...</em></p>

<div *ngIf="groupsConfiguration.length !== 0">
    <h2>Group configuration</h2>

    <table class='table'>
        <thead>
            <tr>
                <th>Group name</th>
                <th>Monitoring</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groupsConfiguration" configuration-row initialState="{{group.monitoring}}" name="{{group.name}}" (state)="groupMonitoringClick(group.name,$event)"></tr>
        </tbody>
        <tr></tr>
        <tr>
            <td>
                <h2>Additional configuration</h2>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tbody>
            <tr configuration-row name="Dont sign for events in the past" initialState="{{additionalConfiguration.dontSignForEventsInThePast}}" (state)="additionalConfiguration.dontSignForEventsInThePast = $event"></tr>
            <tr configuration-row name="Sign for future rsvp infinitely" initialState="{{additionalConfiguration.signForFutureRsvpInfinitely}}" (state)="additionalConfiguration.signForFutureRsvpInfinitely = $event"></tr>
            <tr configuration-row name="Send notification to email" initialState="{{additionalConfiguration.sendNotificationToEmail}}" (state)="additionalConfiguration.sendNotificationToEmail = $event"></tr>
            <tr configuration-row name="Sign only in user city" initialState="{{additionalConfiguration.signOnlyInUserCity}}" (state)="additionalConfiguration.signOnlyInUserCity = $event"></tr>
        </tbody>
    </table>

    <button type="button" class="btn" (click)="saveConfiguration()">Save</button>
</div>