﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:meetupschedulerapi@gmail.com">Support@example.com</a><br />
</address>
